body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.logmsg {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-size: 12px;
}

#container-C {
}

#results-col-A {
  float: left;
  margin: 50px 30px 0px 10px;
  text-align: right;
  font-weight: bold;
}

#results-col-B {
  float: left;
  font-size: 80px;
  font-weight: bolder;
  line-height: 1;
  letter-spacing: -1px;
  margin: 30px 0;
}
#results-col-C {
  float: left;
  margin: 78px 30px 0px 10px;
  font-weight: bold;
  font-size: 30px;
}
